<Script type='text/javascript' src='/static/js/prototype.js'></script>
<Script language='JavaScript'>

        function trim(s){ 
          return ( s || '' ).replace( /^\s+|\s+$/g, '' );
        }
        

	// The function implemented below will check for the valid values of all required fields. The
	// list of required field names are: entityname (text field), permanentaddress (multi-line
	// text field), identificationdetail (multi-line text), searchcities (multi-line text), searchcountries
	// (text field), and entitydescription (multi-line text field). Additionally, it will check for
	// valid values for the following fields: phonenumbers (should contain 12 digit numbers, optionally
	// separated by commas), emailids (should contain the '@' symbol, optionally separated by commas), 
	// facebookhandles, linkedinhandles, googleplushandles (should have no whitespace character, may 
	// contain '@'), twitterhashtags (should contain '#' character, no whitespaces), entitydob (should be
	// in the form 'dd-mm-yyyy' format), and the image upload fields frontimage, profileimage and 
	// elevationimage (should have .gif, .jpeg, .png, .jpg, .svg, .tif(f) or .bmp file extensions only).

        function validateinputs(){
          var emailPattern = new RegExp("[\w\.\-_]*@[\w\.]+\,?");
	  var phonePattern = new RegExp("\d{10,12}\,?");
	  var facebookPattern = new RegExp("[\w\.\-_]*@?[\w\.]*\,?");
	  var linkedinPattern = new RegExp("[\w\.\-_]*@?[\w\.]*\,?");
	  var googleplusPattern = new RegExp("\w+\,?");
	  var twitterPattern = new RegExp("^#\w+");
	  var dobPattern = new RegExp("^\d{1,2}\-\d{1,2}\-\d{4}$");
	  var imagePattern = new RegExp("\w+\.(gif|jpeg|jpg|png|bmp|tiff?|svg)$");

	  document.inputform.entityname.value = trim(document.inputform.entityname.value);
	  if (document.inputform.entityname.value == ""){
            alert("Please enter a valid entity name.");
            return(false);
          }
	  document.inputform.permanentaddress.value = trim(document.inputform.permanentaddress.value);
	  if (document.inputform.permanentaddress.value == ""){
            alert("Please enter a permanent address value.");
            return(false);
          }
	  document.inputform.identificationdetail.value = trim(document.inputform.identificationdetail.value);
	  if (document.inputform.identificationdetail.value == ""){
            alert("Please enter a identification mark.");
            return(false);
          }
	  document.inputform.searchcities.value = trim(document.inputform.searchcities.value);
	  if (document.inputform.searchcities.value == ""){
            alert("Please enter cities to search in.");
            return(false);
          }
	  document.inputform.searchcountries.value = trim(document.inputform.searchcountries.value);
	  if (document.inputform.searchcountries.value == ""){
            alert("Please enter countries to search in.");
            return(false);
          }
	  document.inputform.entitydescription.value = trim(document.inputform.entitydescription.value);
	  if (document.inputform.entitydescription.value == ""){
            alert("Please enter entity description.");
            return(false);
          }
	  document.inputform.phonenumbers.value = trim(document.inputform.phonenumbers.value);
          if (document.inputform.phonenumbers.value != "" && !phonePattern.test(document.inputform.phonenumbers.value)){
	    alert("Phone numbers must be a list of 10-12 digit numbers");
	    return(false);
	  }
	  document.inputform.emailids.value = trim(document.inputform.emailids.value);
	  if (document.inputform.emailids.value != "" && !emailPattern.test(document.inputform.emailids.value)){
	    alert("Email Ids should be a list (may be a single element one) of strings having an '@' character and a '.' character");
	    return(false);
	  }
	  document.inputform.facebookhandles.value = trim(document.inputform.facebookhandles.value);
	  if (document.inputform.facebookhandles.value != "" && !facebookPattern.test(document.inputform.facebookhandles.value)){
	    alert("Facebook handles should be a string without spaces and may contain a '@' and '.' character");
	    return(false);
	  }
	  document.inputform.linkedinhandles.value = trim(document.inputform.linkedinhandles.value);
	  if (document.inputform.linkedinhandles.value != "" && !linkedinPattern.test(document.inputform.linkedinhandles.value)){
	    alert("Linkedin handles may be a string with no whitespaces and can optionally contain the '@' and '.' characters");
	    return(false);
	  }
	  document.inputform.googleplushandles.value = trim(document.inputform.googleplushandles.value);
	  if (document.inputform.googleplushandles.value != "" && !googleplusPattern.test(document.inputform.googleplushandles.value)){
	    alert("Google Plus handles should be a non-whitespace string");
	    return(false);
	  }
	  document.inputform.twitterhashtags.value = trim(document.inputform.twitterhashtags.value);
	  if (document.inputform.twitterhashtags.value != "" && !twitterPattern.test(document.inputform.twitterhashtags.value)){
	    alert("Twitter hashtags should be strings containing alphabets, digits and '#' character");
  	    return(false);
	  }
	  document.inputform.entitydob.value = trim(document.inputform.entitydob.value);
	  if (document.inputform.entitydob.value != "" && !dobPattern.test(document.inputform.entitydob.value)){
	    alert("Date of birth should be of the form 'dd-mm-yyyy'");
	    return(false);
	  }
	  document.inputform.frontimage.value = trim(document.inputform.frontimage.value);
	  if (document.inputform.frontimage.value != "" && !imagePattern.test(document.inputform.frontimage.value)){
	    alert("Invalid front image format/extension");
	    return(false);
	  }
	  document.inputform.profileimage.value = trim(document.inputform.profileimage.value);
	  if (document.inputform.profileimage.value != "" && !imagePattern.test(document.inputform.profileimage.value)){
	    alert("Invalid profile image format/extension");
	    return(false);
	  }
	  document.inputform.elevationimage.value = trim(document.inputform.elevationimage.value);
	  if (document.inputform.elevationimage.value != "" && !imagePattern.test(document.inputform.elevationimage.value)){
	    alert("Invalid elevation image format/extension");
	    return(false);
	  }
          return(true);
        }
// The script tag ends in pagejs.html

