<WebsiteCreds>
<facebook>
<user>
<username>supmit@gmail.com</username>
<password>spmprx</password>
</user>
<user>
<username>supmit@rediffmail.com</username>
<password>spmprx</password>
</user>
</facebook>
</WebsiteCreds>
