<WebsiteCreds>
<facebook>
<user>
<username>supmit@gmail.com</username>
<password>******</password>
</user>
<user>
<username>johnferrier80@rocketmail.com</username>
<password>*******</password>
</user>
<user>
<username>lysander.stark@ymail.com</username>
<password>*******</password>
</user>
<user>
<username>sherlock.holmes_69@ymail.com</username>
<password>********</password>
</user>
</facebook>
<twitter>
<user>
<username>supmit@gmail.com</username>
<password>********</password>
</user>
<user>
<username>sherlock.holmes_69@ymail.com</username>
<password>********</password>
</user>
</twitter>
<linkedin>
<user>
<username>supmit@gmail.com</username>
<password>********</password>
</user>
<user>
<username>sherlock.holmes_69@ymail.com</username>
<password>********</password>
</user>
<user>
<username>lysander.stark@ymail.com</username>
<password>********</password>
</user>
</linkedin>
</WebsiteCreds>
