[CaptchaAPI]
servicename=deathbycaptcha
# Possible service names are 'deathbycaptcha' and 'decaptcher'
#username=cdebnath
#password=bookmark32
username=supmit
password=spmprx
timeout=30
minbalance=0


[Logging]
logfile=CVParser.log
logpath=./logs

[ThreadInfo]
max_per_site_threads=5 ; Maximum number of threads that can be run in parallel for any single website.
max_parallel_threads=5 ; Maximum number of websites that may be processed in parallel

[Data]
captchadumpdir=./data/captcha_images/
tesseract_dir=./data/tesseract/
cvdumpdir=./data/cv_dump/

[Proxy]
urlslist = http://cidtunnel.info,http://boxproxy.info, http://browserusa.com, http://unblockforce.info, http://xinggangdu.com, http://www.placesite.info,http://trustprox.com, http://ukproxys.com

[CredentialsFile]
credsfile=../../conf/prettycreds.cnf

[SearchEngines]
googlelistingdepth=10
yahoolistingdepth=10
binglistingdepth=5
